/* DEFAULTS */
html {font: 1rem 'Open Sans', Helvetica, sans-serif, sans-serif;}
html {font-family: 'Open Sans', Helvetica, sans-serif;color:#3F3F3F;}

/* WEIGHTS */
.medium{
  font-weight:600;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.heavy{
  font-weight:700;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.italic{
  font-weight:700;
  font-style:italic;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* TRANSFORMS */
.upper {text-transform:uppercase;}
.lower {text-transform:lowercase;}
.capital {text-transform:capitalize;}
.center {text-align: center;}
.text-shadow{text-shadow: 0 0 2px rgba(0,0,0,0.22), 0 2px 2px rgba(0,0,0,0.3);}

/* COLORS */
.blue{color:#0563C1;}
.gray{color:#757677;}
