/* BASE STYLES */
section.row{
  padding-top: 70px;
  padding-bottom: 100px;
  position: relative;
  z-index: 100;
}
section.row.gray{background-color:#EEEEEE;}
section.row.white{background-color:#FFFFFF;}
.btn.btn-cta {
  font-size: 1.5rem;
  min-width: 90px;
  padding: 15px 25px;
  letter-spacing: 1.7px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #0563C1;
  border: 1px solid #034587;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
}
.btn.btn-cta:hover {
  background-color: #034587;
  box-shadow: none;
}
.hidden{
  display:none !important;
}

/* HEADER */
header{
  background: rgba(255,255,255,0.75);
  height: 90px;
  position: relative;
  z-index: 110;
  padding: 20px 30px;
}
.til-logo {
  margin-bottom: 0;
  line-height: 50px;
}
.top-nav li {
  padding: 0 15px;
  border-right: 2px solid #1f1f1f;
}
.top-nav li:last-of-type{
  border-right: none;
}

.top-nav li a {
  font-weight: 600;
  color: #1f1f1f;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.top-nav {
  margin-bottom: 0;
  margin-top: 15px;
}
.user-profile,
.avatar {
  float: right;
  cursor: pointer;
}
.user-menu,
.mobile-menu {
  background: #fafafa;
  border: #f5f5f5;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12),0 2px 2px 0 rgba(0,0,0,0.24);
  z-index: 110;
  position: absolute;
}
.user-menu{
  height: 176px;
  padding: 15px 0 25px;
  right: 15px;
  top: 48px;
}
.mobile-menu{
  height: 355px;
  line-height: 2rem;
  padding: 5px 0 15px;
  right: 5px;
  top: 40px;
}
.user-menu:before,
.mobile-menu:before {
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fafafa;
  position: absolute;
  top: -8px;
  right: 15px;
}
.user-menu li a,
.mobile-menu li a {
  font-weight: 400;
  color: #1f1f1f;
}
.user-menu li,
.mobile-menu li {
  padding: 5px 35px 10px 15px;
}
.user-menu li:hover,
.mobile-menu li:hover {
  background: #f5f5f5;
}
.mobile-menu .list-group-item{
  background: #fafafa;
}
.mobile-nav .material-icons{
  line-height: 50px;
}

/* SPLASH LAYER */
section.splash {
  padding-top:80px;
  min-height: 545px;
  height:70vh;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.25) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.25) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.25) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ffffff', endColorstr='#0dffffff',GradientType=0 );
}
.cta-container{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 36px;
}
.splash .btn-cta{
  width:230px;
}
.join-text{
  padding-top:15px;
}
.join-text h5{
  margin-top: 0;
  margin-bottom: 2px;
}
.join-text a, .join-text a:visited{
  text-decoration: none;
  font-weight: 700;
  color: #0563C1;
  font-size: 1.25rem;
}
.join-text a:hover, .join-text a:active, .join-text a:focus{
  text-decoration: none;
  font-weight: 700;
  color: #034587;
}

/* TECH LAYER */


/* GENERAL LAYER */


/* INVESTOR LAYER */


/* BENEFIT LAYER */


/* FOOTER */
footer{
  background-color:#EEEEEE;
  padding-top: 40px;
  padding-bottom: 70px;
  position: relative;
  z-index: 100;
}
