@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,400;0,800;1,400&display=swap');
@import "~bootstrap/scss/bootstrap";

$base-color: #000000;
$gray: #c4c4c4;
$pink: #ff3399;

body, html {
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:$base-color;
  font-size: 14px;
}
a{
  color:$pink;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active{
    text-decoration: underline;
  }
}
